:root {
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral */
    --very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    --outfit: "Outfit", sans-serif;

    --paragraph: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--outfit);
    font-size: var(--paragraph);
        background-color: var(--very-dark-blue-main-bg);

}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.nft-card {
    width: 17em;
    background-color: var(--very-dark-blue-card-bg);
    border-radius: 1.25em;
}

.nft-card__img {
    margin: 1.5em auto;
    background-image: url(./images/image-equilibrium.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .8em;
    width: 80%;
    height: 265px;

}

.nft-card__info {
    padding: 1.8em;
    padding-top: 0;
}

.info__title {
    color: var(--white);
    font-weight: 600;
}

.info__paragraph {
    margin-top: 0.6em;
    font-weight: 300;
    color: var(--soft-blue);
}

.info__nft {
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
    padding: 1.25em;
}

.info__nft > .eth {
    color: var(--cyan);
}

.info__nft > .left {
    color: var(--soft-blue);
}

.line {
    border-bottom: 0.1em solid var(--very-dark-blue-line);
}

.info__creator {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
}

.info__creator>img {
    width: 1.9em;
    border: 0.12em solid #fff;
    border-radius: 1.9em;
}

.info__creator>p {
    font-size: 0.9rem;
}

.footer {
  text-align: center;
  background-color: var(--very-dark-blue-main-bg);

}

@media screen, (max-width: 375px){

}